<html xmlns:th="https://thymeleaf.org">
<head>    
<title>Index Page</title>    
</head>    
<body> 

<style>
    .error {
        color: red;
    }
</style>

	<form action="user" method="post">    
		<table>    
			<tr>    
				<td><label for="Customer_Id">Customer ID</label></td>    
				<td><input type="text" name="custId" id="custId" required></input><p th:text="${#strings.defaultString(errorMessage,'')}" class="error"></p></td>    
			</tr>   
			<tr>    
				<td></td>    
				<td><input type="submit" value="Submit"></input></td>   
			</tr>    
		</table>    
	</form>
	
</body>    
</html>  